.content {
  line-height: 2;

  h4 {
    margin-top: 4rem;
    margin-bottom: -0.5em;
  }

  table {
    margin-top: 1rem;
  }

  .ce-delimiter,
  hr {
    border-top: 1px solid $primary;
    background-color: none;
    height: 0;
    margin: 3rem 0;
    padding: 0;

    &::before {
      content: none;
    }
  }

  .ce-header {
    padding: 0;
  }

  .editor-js-block,
  .ce-block {
    margin: 1.5em 0;

    &__paired-heading {
      border-top: 1px solid $primary;
      padding-top: 1.5em;

      *:first-child {
        margin-bottom: 0.25em;
      }

      *:last-child {
        margin-top: 0;
      }
    }

    &__video {
      clear: both;
    }
  }

  .editor-js-image {
    border-radius: 0.5rem;

    img {
      max-width: 400px;
      margin: 0 auto;
      display: block;
      border-radius: 0.5rem;
    }

    &.stretched {
      img {
        max-width: 100%;
      }
    }

    &.with-background {
      padding: 2em 2em 1em;
      background-color: $white-ter;
    }

    &.with-border {
        img {
          border: 1px solid $grey-lighter;
        }
    }

    figcaption {
      font-style: italic;
      text-align: center;
      margin-top: 0.5em;
      font-size: $size-6;
    }
  }

  .editor-js-audio {
    width: 100%;
    max-width: 480px;
    margin: 0 auto;
    display: block;

    &::-webkit-media-controls-play-button,
    &::-webkit-media-controls-panel {
      background-color: $success;
      color: white;
    }

    &--description {
      font-style: italic;
      text-align: center;
      margin-top: 0.5em;
      font-size: $size-6;
    }
  }

  a {
    color: $text;
    text-decoration: underline;
    transition: text-decoration 0.5s;
    text-decoration-color: $primary;
    text-decoration-style: dashed;
    text-decoration-skip-ink: none;
    text-decoration-thickness: 0.15em;

    &:hover {
      text-decoration-color: darken($primary,15%);
    }
  }

  mark {
    background-color: transparent;
    white-space: nowrap;
    position: relative;
    text-decoration: underline;
    transition: text-decoration 0.5s;
    text-decoration-skip-ink: none;
    text-decoration-color: lighten($success, 15%);
    text-decoration-thickness: 0.3em;

    &[data-translation] {
      cursor: default;
      transition: background-color 0.5s;

      &:hover {
        text-decoration-color: transparent;
        text-decoration-color: lighten($success, 10%);
        background-color: lighten($success, 10%);
      }

      &::after {
        width: 12em;
        line-height: 1.3;
        max-width: 80vw;
        font-size: 80%;
        pointer-events: none;
        position: absolute;
        opacity: 0;
        bottom: calc(100% + 0.5em);
        left: 50%;
        transform: translate(-50%, 0%);
        background-color: white;
        box-shadow: 0 0.5em 1em -0.125em rgb(10 10 10 / 10%), 0 0px 0 1px rgb(10 10 10 / 2%);
        border-radius: 3px;
        padding: 10px;
        white-space: normal;
        content: attr(data-translation);
        transition: opacity 0.5s, transform 0.5s;
        transition-delay: 0.5;
        text-align: center;
      }

      &::before {
        opacity: 0;
        pointer-events: none;
        width: 1em;
        height: 1em;
        position: absolute;
        z-index: 1;
        display: block;
        border: 0.5em solid transparent;
        border-top-color: white;
        content: '';
        left: 50%;
        transform: translate(-50%, 0%);
        bottom: calc(100% - 0.5em);
      }
    }

    &[data-translation]:hover::after,
    &[data-translation]:focus:after,
    &[data-translation]:hover::before,
    &[data-translation]:focus:before {
      opacity: 1;
      transform: translate(-50%, 0%);
      pointer-events: all;
    }
  }
}

.codex-editor__redactor {
  @extend .content;
}
