.content {

  .editor-js-block {
    margin: 2em 0;

    &__paired-heading {
      border-top: 1px solid $primary;
      padding-top: 2.5em;

      *:first-child {
        margin-bottom: 0.25em;
      }

      *:last-child {
        margin-top: 0;
      }
    }
  }

  .editor-js-image {
    figcaption {
      font-style: italic;
      text-align: center;
      margin-top: 0.5em;
      font-size: $size-6;
    }
  }

  .editor-js-audio {
    width: 100%;
    max-width: 480px;
    margin: 0 auto;
    display: block;

    &::-webkit-media-controls-play-button,
    &::-webkit-media-controls-panel {
      background-color: $success;
      color: white;
    }

    &--description {
      font-style: italic;
      text-align: center;
      margin-top: 0.5em;
      font-size: $size-6;
    }
  }

  a {
    color: $text;
    text-decoration: underline;
    transition: text-decoration 0.5s;
    text-decoration-color: transparentize($primary, 0.65);
    text-decoration-thickness: 0.3em;

    &:hover {
      text-decoration-color: transparentize($primary, 0.35);
    }
  }

  mark {
    background-color: transparent;
    display: inline-block;
    position: relative;
    text-decoration: underline;
    transition: text-decoration 0.5s;
    text-decoration-color: transparentize($success, 0.65);
    text-decoration-thickness: 0.3em;

    &[data-translation] {
      cursor: default;
      transition: background-color 0.5s;

      &:hover {
        text-decoration-color: transparent;
        background-color: transparentize($success, 0.35);
      }

      &::after {
        width: 12em;
        line-height: 1.3;
        max-width: 80vw;
        font-size: 80%;
        pointer-events: none;
        position: absolute;
        opacity: 0;
        bottom: calc(100% + 0.5em);
        left: 50%;
        transform: translate(-50%, 0%);
        background-color: white;
        box-shadow: 0 0.5em 1em -0.125em rgb(10 10 10 / 10%), 0 0px 0 1px rgb(10 10 10 / 2%);
        border-radius: 3px;
        padding: 10px;
        content: attr(data-translation);
        transition: opacity 0.5s, transform 0.5s;
        transition-delay: 0.5;
        text-align: center;
      }

      &::before {
        opacity: 0;
        pointer-events: none;
        width: 1em;
        height: 1em;
        position: absolute;
        z-index: 1;
        display: block;
        border: 0.5em solid transparent;
        border-top-color: white;
        content: '';
        left: 50%;
        transform: translate(-50%, 0%);
        bottom: calc(100% - 0.5em);
      }
    }

    &[data-translation]:hover::after,
    &[data-translation]:focus:after,
    &[data-translation]:hover::before,
    &[data-translation]:focus:before {
      opacity: 1;
      transform: translate(-50%, 0%);
      pointer-events: all;
    }
  }
}

.codex-editor__redactor {
  @extend .content;
}
