.has-square-media {
   width: 100% !important;
   padding-top: 100%;
   position: relative;
   overflow: hidden;
   + .has-square-media {
      margin: 2em 0;
   }
}

.has-square-media video,
.has-square-media img {
   position: absolute;
   margin: 0;
   top: 0;
   bottom: 0;
   left: 0;
   right: 0;
   height: 100%;
   width: 100%;
   display: block;
   object-fit: cover
}

.has-square-media div.video-js {
   position: static !important;
   height: auto !important;
   width: auto !important;
}
