.has-square-media {
  width: 100% !important;
  padding-top: 100%;
  position: relative;
  overflow: hidden;
  clear: both;
}

.has-widescreen-media {
  width: 100% !important;
  padding-top: 56.25%;
  position: relative;
  overflow: hidden;
  clear: both;
}

.has-square-media video,
.has-square-media img,
.has-square-media iframe,
.has-widescreen-media video,
.has-widescreen-media img,
.has-widescreen-media iframe {
   position: absolute;
   margin: 0;
   top: 0;
   bottom: 0;
   left: 0;
   right: 0;
   height: 100%;
   width: 100%;
   display: block;
   object-fit: cover
}

.has-widescreen-media div.video-js,
.has-square-media div.video-js {
   position: static !important;
   height: auto !important;
   width: auto !important;
}
