@import "~bulma/sass/utilities/functions";

$orange: #F4A627;
$turquoise: #33C2CF;

$success: $turquoise;
$primary: $orange;

// $primary: $orange;
// $primary-invert: findColorInvert($orange);
// $primary-light: lighten($orange, 25%);
// $primary-dark: darken($orange, 25%);

$custom-colors: (
  "primary": ($orange, findColorInvert($orange), lighten($orange, 40%), darken($orange, 15%)),
  "success": ($turquoise, findColorInvert($turquoise), lighten($turquoise, 40%), darken($turquoise, 15%)),
);

@import "~bulma/sass/utilities/_all";

$carousel-min-height: none;

$navbar-item-img-max-height: 2.25rem;
$box-padding: 2rem;

$body-line-height: 1.5;
$body-font-size: 1.1em;

// Set your colors
// $turquoise: #33C2CF;
// $orange: #F4A627;

$white-ter:    hsl(210, 50%, 96%);
$white-bis:    hsl(210, 50%, 98%);

// Setup $colors to use as bulma classes (e.g. 'is-twitter')
// $colors: mergeColorMaps(
//   (
//     "primary": ($orange, findColorInvert($orange), lighten($orange, 25%), darken($orange, 25%)),
//     "success": ($turquoise, findColorInvert($turquoise), lighten($turquoise, 25%), darken($turquoise, 25%)),
//   ), $colors);



// Links
$link: $turquoise;;
$link-invert: $primary-invert;
$link-focus-border: $primary;

$background: $white-ter;
$body-background-color: $background;

$navbar-background-color: $background;
$footer-background-color: transparent;
