@import "bulma.scss";
@import "checkmark";
@import "square-media";
@import "transitions";
@import "content";

.icon svg {
  stroke-width: 1.5 !important;
  fill: none !important;
}

.ml-a {
  margin-left: auto;
}

.mb-a {
  margin-bottom: auto;
}

.mr-a {
  margin-right: auto;
}

.mt-a {
  margin-top: auto;
}

// Fat button, used for section next/previous links
.is-fat {
  height: auto;
  padding: 0.75em 1.25em;
  font-weight: 600;
  white-space: normal;
  line-height: 1.1;
}

.is-fullwidth {
  width: 100%;
}

.back-link {
  display: inline-block;
  margin-bottom: 0.5em;
}

.section {
  @media screen and (orientation: portrait) {
    padding-left: 0;
    padding-right: 0;
  }
}

.navbar {
  display: block;
  // box-shadow: $white-bis 0 0 0.75em 0.75em;
}

.navbar-brand {
  margin-right: 1em;

  img {
    image-rendering: -webkit-optimize-contrast;
  }
}

.is-rounded {
  border-radius: 99999px;
}

.is-radius {
  border-radius: 6px;
}

.text-overflow-ellipsis {
  flex: 1;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  text-align: left;
}

.is-bordered {
  border: 1px solid $light;
}

.is-borderless {
  border: 0;
}

.is-justify-between {
  justify-content: space-between;
}

.is-autodismiss {
  animation: autoDismiss 4s forwards !important;
}

@keyframes autoDismiss {
  0%,
  100% {
    opacity: 0;
    transform: translateY(1em);
  }
  15%,
  85% {
    opacity: 1;
    transform: translateY(0);
  }
}

.button {
  &.is-fullwidth {
    span:first-child {
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }
}

.button.is-fullwidth + .button.is-fullwidth {
  margin-top: 1em;
}

.navbar-item .tag {
  margin-left: 0.5em;
}

main {
  min-height: 82.5vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.box {
  @media screen and (orientation: portrait) {
    padding: $box-padding $box-padding/2;
  }
}

// .instruction-card {
//   position: sticky;
//   top: 5.5em;
// }
.instruction-card {
  margin-bottom: 1.5em;
  display: flex;
  flex-direction: row;
  @media screen and (orientation: portrait) {
    flex-direction: column;
  }
  .card-image {
    flex: 0 0 50%;
  }
}

.modal {
  @media screen and (orientation: portrait) {
    // Keeps modal over help scout on small screens

    // @todo make help scout beacon work with modals on mobile
    // as modals are a commmon pain point.
    z-index: 60;
  }
}
.modal-card {
  max-width: 100%;
}

#card-element,
#stripe-element-mount-point {
  @extend .input;
  display: block !important;
}

.notification {
  &.is-primary {
    background-color: #fef2e0;
    color: $text;
    border-left: 1em solid $primary;
  }
  &.is-success {
    background-color: #e3f1f3;
    color: $text;
    border-left: 1em solid $success;
  }
}

.details-summary {
  summary {
    padding: 0 1em;
    font-weight: bold;
    cursor: pointer;
    border: 1px solid gray;
    background-color: white;
  }
}
